In [8]:
import pandas as pd

#Load the data
df = pd.read_csv("../data/obesity.csv")

In [9]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import joblib
#Encoding the data in machine understandable way

#Binary encoding for yes/no to 1/0
binary_features = ["family_history_with_overweight", "FAVC", "SMOKE", "SCC"]
df[binary_features] = df[binary_features].replace({"yes":1, "no":0})

#Encode the target column
label_encoder = LabelEncoder()
df["NObeyesdad"] = label_encoder.fit_transform(df["NObeyesdad"])

joblib.dump(label_encoder, "label_encoder.pkl")

#One-Hot Encoding for categorical features
categorical_features =["Gender", "CAEC", "CALC", "MTRANS"]
encoder = OneHotEncoder(drop="first",sparse_output=False)
encoded_cats = encoder.fit_transform(df[categorical_features])
joblib.dump(encoder, "encoder.pkl") #Save the encoder

#convert encoded categories to DataFrame
encoded_cat_df = pd.DataFrame(encoded_cats,columns=encoder.get_feature_names_out(categorical_features))

#drop original categoriacla columns and merge encoded data
df = df.drop(columns=categorical_features)
df = pd.concat([df, encoded_cat_df], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             2111 non-null   int64
 1   Height                          2111 non-null   float64
 2   Weight                          2111 non-null   float64
 3   family_history_with_overweight  2111 non-null   int64
 4   FAVC                            2111 non-null   int64
 5   FCVC                            2111 non-null   float64
 6   NCP                             2111 non-null   float64
 7   SMOKE                           2111 non-null   int64
 8   CH2O                            2111 non-null   float64
 9   SCC                             2111 non-null   int64
 10  FAF                             2111 non-null   float64
 11  TUE                             2111 non-null   float64
 12  NObeyesdad                      2111 non-null   int64
 13  Gender_Male                     2111 non-null   float64
 14  CAEC_Frequently                 2111 non-null   float64
 15  CAEC_Sometimes                  2111 non-null   float64
 16  CAEC_no                         2111 non-null   float64
 17  CALC_Frequently                 2111 non-null   float64
 18  CALC_Sometimes                  2111 non-null   float64
 19  CALC_no                         2111 non-null   float64
 20  MTRANS_Bike                     2111 non-null   float64
 21  MTRANS_Motorbike                2111 non-null   float64
 22  MTRANS_Public_Transportation    2111 non-null   float64
 23  MTRANS_Walking                  2111 non-null   float64
dtypes: float64(18), int64(6)
memory usage: 395.9 KB

/tmp/ipykernel_9851/621114809.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[binary_features] = df[binary_features].replace({"yes":1, "no":0})

,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,...,CAEC_Frequently,CAEC_Sometimes,CAEC_no,CALC_Frequently,CALC_Sometimes,CALC_no,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation,MTRANS_Walking
0,21,1.62,64.0,1,0,2.0,3.0,0,2.0,0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,21,1.52,56.0,1,0,3.0,3.0,1,3.0,1,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,23,1.80,77.0,1,0,2.0,3.0,0,2.0,0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,27,1.80,87.0,0,0,3.0,3.0,0,2.0,0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,22,1.78,89.8,0,0,2.0,1.0,0,2.0,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0